body{
    background-color: white;
}
#all{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: auto;
    outline: 1px solid;
}
.container{
    width: 100%;
    height: 370px;
    background-color: white;
    margin: auto;
}
.main-container{
    width: 80px;
    background-color: white;
    margin: auto;
}
.hedkanan{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-top: 50px;
    float: right;
    text-align: right;
    margin-right: 20px;
}
.hedkiri{
    width: 200px;
    height: 200px;
    background-color: skyblue;
    margin-top: 45px;
    float: left;
    margin-left: 30px;
}
#gambar_profile{
    width: 200px;

}
.hedtengah{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-top: 20px;
    float: left;
    margin-left: 55px;
    line-height: 30px;
}
.content-area{
    width: 100%;
    height: 200px;
    background-color: white;
    margin: auto;
    margin-top: 0px;
}
.paragraf{
    width: 96%;
    height: 200px;
    background-color: white;
    margin: auto;
    line-height: 25px;
}
.multimedia{
    width: 100%;
    height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}
.video_multimedia{
    width: 30%;
    height: 250px;
    background-color: white;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    outline: 1px solid;
}
video{
    width: 100%;
    height: 100%;
    float: left;
}
.gambar_multimedia{
    width: 30%;
    height: 250px;
    background-color: white;
    margin-top: 20px;
    float: left;
    margin-left: 45px;
    outline: 1px solid;
}
.kanan_atas{
    width: 110px;
    height: 100px;
    background-color: white;
    margin-top: 10px;
    float: right;
    margin-right: 30px;
}
.kiri_atas{
    width: 110px;
    height: 100px;
    background-color: white;
    margin-top: 10px;
    float: left;
    margin-left: 30px;
}
.kanan_bawah{
    width: 110px;
    height: 100px;
    background-color: white;
    margin-top: 20px;
    float: right;
    margin-right: 30px;
}
.kiri_bawah{
    width: 110px;
    height: 100px;
    background-color: white;
    margin-top: 20px;
    float: left;
    margin-left: 30px;
}
.hehe{
    margin-top:20px;
}
.img{
    width: 270px;
    height: 270px;
    margin-top:20px;
}
.multimedia_kanan{
    width: 30%;
    height: 250px;
    background-color: white;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    outline: 1px solid;
    line-height: 30px;
}
.p{
    width: 270px;
    height: 270px;
    margin-top:20px;
}
img{
    width: 100px;
}